[submodule "pulp-debug-bridge"]
	path = pulp-debug-bridge
	url = git@github.com:pulp-platform/pulp-debug-bridge.git
[submodule "pulp-configs"]
	path = pulp-configs
	url = git@github.com:pulp-platform/pulp-configs.git
[submodule "json-tools"]
	path = json-tools
	url = git@github.com:pulp-platform/json-tools.git
[submodule "gvsoc"]
	path = gvsoc
	url = git@github.com:pulp-platform/gvsoc.git
[submodule "dpi-models"]
	path = dpi-models
	url = git@github.com:pulp-platform/dpi-models.git
[submodule "archi"]
	path = archi
	url = git@github.com:pulp-platform/archi.git
[submodule "runner"]
	path = runner
	url = git@github.com:pulp-platform/runner.git
